<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Dhruva DO Leaderboard</h2>
  </div>
</header>
<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">

  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Leaderboard Scores as on {{updatedOn}}</h3>
      </div>
      <div class="card-body" style="margin-right: 19%">
        <p-table #dt [columns]="cols" [value]="doLeaderboardDatas" [scrollable]="true" [paginator]="true" [rows]="6"
          [globalFilterFields]="['soMaster','doMaster']">
          <ng-template pTemplate="caption">
            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Export" (click)="dt.exportCSV()"
              style="float:left"></button>
            <div style="text-align: right">
              <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
              <input type="text" pInputText size="25" placeholder="Search"
                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" style="width: 100px" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                  ariaLabelDesc="Activate to sort in descending order"
                  ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-doLeaderboardData>
            <tr>
              <!-- <td style="width:100px" title="Sr. No.">{{doLeaderboardData.index}}</td> -->
              <td style="width: 100px" title="State Office">{{doLeaderboardData.soMaster}}</td>
              <td style="width:100px" title="Divisional Office">{{doLeaderboardData.doMaster}}</td>
              <td style="width:100px" title="All India Rank" [attr.class]="doLeaderboardData.rank | doColorCode">
                {{doLeaderboardData.rank}}</td>
              <td style="width:100px" title="Dhruva ROs">{{doLeaderboardData.totalDhruva}}</td>
              <td style="width:100px" title="Dhruva Compliant"
                [attr.class]="doLeaderboardData.dhruvaCompliantRank | doColorCode">
                {{doLeaderboardData.dhruvaCompliant}}</td>
              <td style="width:100px" title="Dhruva Compliant Rank"
                [attr.class]="doLeaderboardData.dhruvaCompliantRank | doColorCode">
                {{doLeaderboardData.dhruvaCompliantRank}}</td>
              <td style="width:100px" title="Awesum (W:3)" [attr.class]="doLeaderboardData.awesumRank | doColorCode">
                {{doLeaderboardData.awesum}}</td>
              <td style="width:100px" title="Awesum Rank" [attr.class]="doLeaderboardData.awesumRank | doColorCode">
                {{doLeaderboardData.awesumRank}}</td>
              <td style="width:100px" title="Facility Completion (W:2)"
                [attr.class]="doLeaderboardData.facilityCompletionRank | doColorCode">
                {{doLeaderboardData.facilityCompletion}}</td>
              <td style="width:100px" title="Facility Completion Rank"
                [attr.class]="doLeaderboardData.facilityCompletionRank | doColorCode">
                {{doLeaderboardData.facilityCompletionRank}}</td>
              <td style="width:100px" title="Spot Check (W:2)"
                [attr.class]="doLeaderboardData.spotCheckRank | doColorCode">
                {{doLeaderboardData.spotCheck}}</td>
              <td style="width:100px" title="Spot Check Rank"
                [attr.class]="doLeaderboardData.spotCheckRank | doColorCode">
                {{doLeaderboardData.spotCheckRank}}</td>
              <td style="width:100px" title="CA Evaluation (W:2)"
                [attr.class]="doLeaderboardData.caEvaluationRank | doColorCode">
                {{doLeaderboardData.caEvaluation}}</td>
              <td style="width:100px" title="CA EvaluationRank"
                [attr.class]="doLeaderboardData.caEvaluationRank | doColorCode">
                {{doLeaderboardData.caEvaluationRank}}</td>
              <td style="width:100px" title="Activity Completion (W:1)"
                [attr.class]="doLeaderboardData.activityCompletionRank | doColorCode">
                {{doLeaderboardData.activityCompletion}}</td>
              <td style="width:100px" title="Activity Completion Rank"
                [attr.class]="doLeaderboardData.activityCompletionRank | doColorCode">
                {{doLeaderboardData.activityCompletionRank}}</td>
              <td style="width:100px" title="mPower Plus (W:1)"
                [attr.class]="doLeaderboardData.mPowerRank | doColorCode">
                {{doLeaderboardData.mPower}}</td>
              <td style="width:100px" title="mPower Plus Rank"
                [attr.class]="doLeaderboardData.mPowerRank | doColorCode">
                {{doLeaderboardData.mPowerRank}}</td>
              <td style="width:100px" title="FO Quiz (W:1)" [attr.class]="doLeaderboardData.foQuizRank | doColorCode">
                {{doLeaderboardData.foQuiz}}</td>
              <td style="width:100px" title="FO Quiz Rank" [attr.class]="doLeaderboardData.foQuizRank | doColorCode">
                {{doLeaderboardData.foQuizRank}}</td>
              <td style="width:100px" title="RCA (W:1)" [attr.class]="doLeaderboardData.rcaRank | doColorCode">
                {{doLeaderboardData.rca}}</td>
              <td style="width:100px" title="Rank" [attr.class]="doLeaderboardData.rcaRank | doColorCode">
                {{doLeaderboardData.rcaRank}}</td>
              <td style="width:100px" title="CA Training (W:1)"
                [attr.class]="doLeaderboardData.caTrainingRank | doColorCode">
                {{doLeaderboardData.caTraining}}</td>
              <td style="width:100px" title="CA Training Rank"
                [attr.class]="doLeaderboardData.caTrainingRank | doColorCode">
                {{doLeaderboardData.caTrainingRank}}</td>
              <td style="width:100px" title="Telecall (W:1)"
                [attr.class]="doLeaderboardData.telecallRank | doColorCode">
                {{doLeaderboardData.telecall}}</td>
              <td style="width:100px" title="Telecall Rank" [attr.class]="doLeaderboardData.telecallRank | doColorCode">
                {{doLeaderboardData.telecallRank}}</td>
              <td style="width:100px" title="FIT (W:2)" [attr.class]="doLeaderboardData.fitRank | doColorCode">
                {{doLeaderboardData.fit}}</td>
              <td style="width:100px" title="FIT Rank" [attr.class]="doLeaderboardData.fitRank | doColorCode">
                {{doLeaderboardData.fitRank}}</td>
              <td style="width:100px" title="SEVA (W:2)" [attr.class]="doLeaderboardData.sevaRank | doColorCode">
                {{doLeaderboardData.seva}}</td>
              <td style="width:100px" title="SEVA Rank" [attr.class]="doLeaderboardData.sevaRank | doColorCode">
                {{doLeaderboardData.sevaRank}}</td>
              <!-- <td style="width:100px" title="100 Ka Sankalp (W:1)"
                [attr.class]="doLeaderboardData.sauKaSankalpRank | doColorCode">
                {{doLeaderboardData.sauKaSankalp}}</td>
              <td style="width:100px" title="100 Ka Sankalp Rank"
                [attr.class]="doLeaderboardData.sauKaSankalpRank | doColorCode">
                {{doLeaderboardData.sauKaSankalpRank}}</td> -->
              <td style="width:100px" title="Attainer (W:1)"
                [attr.class]="doLeaderboardData.attainerRank | doColorCode">
                {{doLeaderboardData.attainer}}</td>
              <td style="width:100px" title="Attainer Rank" [attr.class]="doLeaderboardData.attainerRank | doColorCode">
                {{doLeaderboardData.attainerRank}}</td>
              <td style="width:100px" title="Xperience (W:1)"
                [attr.class]="doLeaderboardData.xperienceRank | doColorCode">
                {{doLeaderboardData.xperience}}</td>
              <td style="width:100px" title="Xperience Rank"
                [attr.class]="doLeaderboardData.xperienceRank | doColorCode">
                {{doLeaderboardData.xperienceRank}}</td>
              <td style="width:100px" title="Dhruva Index" [attr.class]="doLeaderboardData.rank | doColorCode">
                {{doLeaderboardData.finalDhruvaIndex}}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Total records: {{doLeaderboardDatas?.length}}
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h3 class="h4">Weightage information</h3>
      </div>
      <div class="card-body">
        <table class="container-fluid table table-responsive">
          <tr>
            <th>Awesum: {{weightageData.awesum}}</th>
            <th>Facility Completion: {{weightageData.facility}}</th>
            <th>Spot Check: {{weightageData.spot}}</th>
            <th>CA Evaluation: {{weightageData.caEval}}</th>
            <th>Activity Completion: {{weightageData.activity}}</th>
            <th>mPower Plus: {{weightageData.mpower}}</th>
          </tr>
          <tr>
            <th>FO Quiz: {{weightageData.quiz}}</th>
            <th>RCA: {{weightageData.rca}}</th>
            <th>CA Training: {{weightageData.caTrain}}</th>
            <th>Telecall: {{weightageData.telecall}}</th>
            <th>FIT: {{weightageData.fit}}</th>
            <th>SEVA: {{weightageData.seva}}</th>
          </tr>
          <tr>
            <!-- <th>Sau Ka Sankalp: {{weightageData.sks}}</th> -->
            <th>Attainer: {{weightageData.attainer}}</th>
            <th>Xperience: {{weightageData.xperience}}</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>