<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4">Select Parameters</h3>
  </div>
  <div class="card-body">
    <form (ngSubmit)="onRequestReport()" [formGroup]="misParametersInputForm">
      <div class="form-row">
        <div class="col-md-4 mb-2">
          <div class="form-group">
            <label for="salesOrg" class="form-control-label">State Office</label>
            <select name="salesOrg" formControlName="salesOrg" class="form-control" (change)="onSelectSalesOrg($event)"
              style="width: 100%">
              <option value="0" selected>All</option>
              <option *ngFor="let soList of soList | async" [value]="soList.salesOrg">{{soList.salesOrgName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-group">
            <label for="salesOff" class="form-control-label">Division Office</label>
            <select name="salesOff" formControlName="salesOff" class="form-control" (change)="onSelectSalesOff($event)"
              style="width: 100%">
              <option value="0" selected>All</option>
              <option *ngFor="let do of doList" [value]="do.salesoff">{{do.salesOffName}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-4 mb-2">
          <div class="form-group">
            <label for="salesArea" class="form-control-label">Sales Area</label>
            <select name="salesArea" formControlName="salesArea" class="form-control" style="width: 100%">
              <option value="0" selected>All</option>
              <option *ngFor="let sa of saList" [value]="sa.salesArea">{{sa.salesAreaName}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label for="fromMonth" class="form-control-label">From Month</label>
            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" formControlName="fromMonth"
              view="month" dateFormat="mm-yy" [yearNavigator]="true" yearRange="2000:2050" showButtonBar="true"
              dataType="string" readonlyInput="true"></p-calendar>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label for="toMonth" class="form-control-label">To Month</label>
            <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" formControlName="toMonth"
              view="month" dateFormat="mm-yy" [yearNavigator]="true" yearRange="2000:2050" showButtonBar="true"
              dataType="string" readonlyInput="true"></p-calendar>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label for="filterType" class="form-control-label">Report Type</label>
            <select name="filterType" formControlName="filterType" class="form-control" style="width: 100%">
              <option *ngFor="let filterType of filterTypes" [value]="filterType.value">{{filterType.type}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label for="submit" class="form-control-label">&nbsp;</label>
            <button type="submit" class="btn btn-primary" style="width: 100%"
              [disabled]="misParametersInputForm.invalid || buttonDisable">{{buttonDisable ? 'Please Wait...' : 'Show'}}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>